# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment and secret config
.env
settings.db

# Ignore virtual environment folders
venv/
.env/
.venv/

# Optional: editor-specific files
.vscode/
.idea/
.DS_Store
